<%-include('../partials/userHeader')%>

    <div class="breadcrumb-section"
        style="background-image: linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) 101.02%), url(assets/img/innerpage/inner-banner-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="banner-content">
                        <h1>Activitis</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/">Home</a></li>
                            <li>Activitis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Start Activitis section -->
    <div class="activites-pages pt-120 mb-120">
        <div class="container">
            <div class="col-xl-4 order-lg-1 order-1">
                <div class="sidebar-area">
                    <div class="single-widget mb-30">
                        <h5 class="widget-title">Search Here</h5>
                        <form action="/activities" method="GET">
                            <div class="search-box">
                                <input type="text" name="search" placeholder="Search Here">
                                <button type="submit"><i class="bx bx-search"></i></button>
                            </div>
                        </form>
                        
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="row">
                <% if (activities.length === 0) { %>
                    <p>No Activities available at the moment.</p>
                <% }else { %>
                <% activities.forEach(activity => { %>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="activity-card">
                            <img src="<%= activity.images[0] %>" alt="<%= activity.title %>">
                            <a href="/activities-details/<%= activity._id %>" class="country-name">
                                
                                <%= activity.location %>
                            </a>
                            <div class="activity-card-content-wrapper">
                                <div class="activity-card-content">
                                    <div class="content">
                                        <h6><a href="/activities-details/<%= activity._id %>"><%= activity.title %></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <% } %>
            </div>
            
        </div>
    </div>
    <!-- End Activitis section -->
<%-include('../partials/userFooter')%>