<%-include('../partials/userHeader')%>

    <div class="breadcrumb-section"
        style="background-image: linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) 101.02%), url(assets/img/innerpage/inner-banner-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="banner-content">
                        <h1>Room Details</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="">Home</a></li>
                            <li>Room Details </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Start Room Details section -->
    <div class="room-details-area pt-120 mb-120">
        <div class="container">
            <div class="row">
                <div class="co-lg-12">
                    <div class="room-img-group mb-50">
                        <div class="row g-3">
                            <div class="col-lg-6">
                                <div class="gallery-img-wrap">
                                    <img src="<%= hotel.images[0] %>" alt="">
                                    <a data-fancybox="gallery-01" href="<%= hotel.images[0] %>"><i class="bi bi-eye"></i> View Room</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row g-3">
                                    <% hotel.images.slice(1).forEach(image => { %>
                                        <div class="col-6">
                                            <div class="gallery-img-wrap">
                                                <img src="<%= image %>" alt="">
                                                <a data-fancybox="gallery-01" href="<%= image %>"><i class="bi bi-eye"></i> View Room</a>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
             
            <div class="row g-xl-4 gy-5">
                <div class="col-xl-8">
                    <div class="location-and-review">
                        <div class="location">
                            <p><i class="bi bi-geo-alt"></i> <%= hotel.location %> </p>
                        </div>
                        
                    </div>
                    <h2><%= hotel.title %></h2>
                    <div class="price-area">
                        <h6>$<%= hotel.discountPrice %>/<span>per night</span></h6>
                    </div>
                    <p><%- hotel.description.replace(/\n/g, '<br>' ) %></p>

                    <h4>Facilities</h4>
<ul class="extra-service mb-20">
    <% hotel.facilities.forEach(facility => { %>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 18 16">
                <path d="M8.21008 15.9998C8.15563 15.9998 8.10177 15.9885 8.05188 15.9664C8.002 15.9444 7.95717 15.9122 7.92022 15.8719L0.104874 7.34121C0.0527746 7.28433 0.0182361 7.21337 0.00548549 7.137C-0.00726514 7.06063 0.00232503 6.98216 0.0330824 6.9112C0.0638398 6.84025 0.11443 6.77988 0.178662 6.73748C0.242893 6.69509 0.31798 6.67251 0.394731 6.6725H4.15661C4.21309 6.67251 4.26891 6.68474 4.32031 6.70837C4.37171 6.73201 4.41749 6.76648 4.45456 6.80949L7.06647 9.84167C7.34875 9.2328 7.89519 8.21899 8.85409 6.98363C10.2717 5.15733 12.9085 2.47141 17.4197 0.0467428C17.5069 -0.000110955 17.6084 -0.0122714 17.704 0.0126629C17.7996 0.0375972 17.8825 0.0978135 17.9363 0.181422C17.9901 0.26503 18.0109 0.365952 17.9946 0.46426C17.9782 0.562568 17.9259 0.651115 17.848 0.712418C17.8308 0.726001 16.0914 2.10818 14.0896 4.63987C12.2473 6.96965 9.79823 10.7792 8.59313 15.6973C8.57196 15.7837 8.52272 15.8604 8.45327 15.9153C8.38382 15.9702 8.29816 16 8.20996 16L8.21008 15.9998Z"/>
            </svg>
            <%= facility %>
        </li>
    <% }) %>
</ul>  
                </div>
                <div class="col-xl-4">
                    <div class="booking-form-wrap mb-30">
                        <h4>Book Your Room</h4>
                        <p>Reserve your ideal Room early for a hassle-free trip; secure comfort and convenience!</p>
                        <div class="nav nav-pills mb-40" role="tablist">
                            <button class="nav-link active" id="v-pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-contact" type="button" role="tab"
                                aria-controls="v-pills-contact" aria-selected="true">Inquiry Form</button>
                            <button class="nav-link" id="v-pills-booking-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-booking" type="button" role="tab"
                                aria-controls="v-pills-booking" aria-selected="false">Online Booking</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent2">
                            <div class="tab-pane fade show active" id="v-pills-contact" role="tabpanel"
                                aria-labelledby="v-pills-contact-tab">
                                <div class="sidebar-booking-form">

                                    <form id="inquiryForm" action="/hotel-contact" method="post">
                                        
                                        <input type="hidden" id="name" name="name" value="<%= user.username %>">
                                        <input type="hidden" id="contact-number" name="contactNumber" value="<%= user.mobile %>">

                                        <div class="form-inner mb-20">
                                            <label for="whatsapp-number">WhatsApp Number:</label>
                                            <input type="tel" id="whatsapp-number" name="whatsappNumber" placeholder="Enter your WhatsApp number" required>
                                        </div>
                                    
                                        <div class="form-inner mb-20">
                                            <label for="check-in-date">Check-in Date:</label>
                                            <input type="date" id="check-in-date" name="checkInDate" required>
                                        </div>
                                    
                                        <div class="form-inner mb-20">
                                            <label for="check-out-date">Check-out Date:</label>
                                            <input type="date" id="check-out-date" name="checkOutDate" required>
                                        </div>
                                    
                                        <div class="form-inner mb-20">
                                            <label for="members">No.of Peoples:</label>
                                            <input type="number" id="members" name="members" min="1" placeholder="Enter number of members" required>
                                        </div>

                                        <input type="hidden" id="hotelName" name="hotelName" value="<%= hotel.title %>">

                                        <input type="hidden" id="userEmail" name="userEmail" value="<%= user.email %>">

                                        <div id="thankYouMessage" style="display: none;">
                                            <p class="text-success">Thank you for your inquiry! We will get back to you
                                                shortly.</p>
                                        </div>
                                        <div class="form-inner">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </form>

                                      
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-booking" role="tabpanel"
                                aria-labelledby="v-pills-booking-tab">
                                <p>Online Booking available soon...</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Room Details section -->
    <script>
        document.getElementById('inquiryForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission


            // Show thank you message
            document.getElementById('thankYouMessage').style.display = 'block';

            setTimeout(() => {
                this.submit(); // Use `this.submit()` to submit the form programmatically
            }, 4000);


        });
    </script>
    <%-include('../partials/userFooter')%>