<%-include('../partials/userHeader')%>

    <div class="breadcrumb-section"
        style="background-image: linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) 101.02%), url('<%= tour.images[0] %>');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="banner-content">
                        <h1>Package Details</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/">Home</a></li>
                            <li>Package Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Room Details section -->
    <div class="package-details-area pt-120 mb-120 position-relative">
        <div class="container">
            <div class="row">
                <div class="co-lg-12">
                    <div class="package-img-group mb-50">
                        <div class="row align-items-center g-3">
                            <div class="col-lg-6">
                                <div class="gallery-img-wrap">
                                    <img src="<%= tour.images[0] %>" alt="<%= tour.title %>">
                                    <a data-fancybox="gallery-01" href="<%= tour.images[0] %>"><i
                                            class="bi bi-eye"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 h-100">
                                <div class="row g-3 h-100">
                                    <% for (let i=1; i < tour.images.length; i++) { %>
                                        <div class="col-6">
                                            <div class="gallery-img-wrap">
                                                <img src="<%= tour.images[i] %>" alt="<%= tour.title %>">
                                                <a data-fancybox="gallery-01" href="<%= tour.images[i] %>"><i
                                                        class="bi bi-eye"></i></a>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-xl-4 gy-5">
                <div class="col-xl-8">
                    <h2>
                        <%= tour.title %>
                    </h2>
                    <div class="tour-price">
                        <h3>$<%= tour.discountPrice %>/</h3><span>per person</span>
                    </div>
                    <ul class="tour-info-metalist">
                        <li>
                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14 7C14 8.85652 13.2625 10.637 11.9497 11.9497C10.637 13.2625 8.85652 14 7 14C5.14348 14 3.36301 13.2625 2.05025 11.9497C0.737498 10.637 0 8.85652 0 7C0 5.14348 0.737498 3.36301 2.05025 2.05025C3.36301 0.737498 5.14348 0 7 0C8.85652 0 10.637 0.737498 11.9497 2.05025C13.2625 3.36301 14 5.14348 14 7ZM7 3.0625C7 2.94647 6.95391 2.83519 6.87186 2.75314C6.78981 2.67109 6.67853 2.625 6.5625 2.625C6.44647 2.625 6.33519 2.67109 6.25314 2.75314C6.17109 2.83519 6.125 2.94647 6.125 3.0625V7.875C6.12502 7.95212 6.14543 8.02785 6.18415 8.09454C6.22288 8.16123 6.27854 8.2165 6.3455 8.25475L9.408 10.0048C9.5085 10.0591 9.62626 10.0719 9.73611 10.0406C9.84596 10.0092 9.93919 9.93611 9.99587 9.83692C10.0525 9.73774 10.0682 9.62031 10.0394 9.50975C10.0107 9.39919 9.93982 9.30426 9.842 9.24525L7 7.62125V3.0625Z">
                                </path>
                            </svg>
                            <%= tour.duration %> Days
                        </li>
                        <li>
                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7 7C7.92826 7 8.8185 6.63125 9.47487 5.97487C10.1313 5.3185 10.5 4.42826 10.5 3.5C10.5 2.57174 10.1313 1.6815 9.47487 1.02513C8.8185 0.368749 7.92826 0 7 0C6.07174 0 5.1815 0.368749 4.52513 1.02513C3.86875 1.6815 3.5 2.57174 3.5 3.5C3.5 4.42826 3.86875 5.3185 4.52513 5.97487C5.1815 6.63125 6.07174 7 7 7ZM14 12.8333C14 14 12.8333 14 12.8333 14H1.16667C1.16667 14 0 14 0 12.8333C0 11.6667 1.16667 8.16667 7 8.16667C12.8333 8.16667 14 11.6667 14 12.8333Z">
                                </path>
                            </svg>
                            Max People : <%= tour.maxPeople %>
                        </li>
                        <li>
                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14 0.43748C14 0.372778 13.9856 0.308889 13.9579 0.250418C13.9302 0.191947 13.8898 0.140348 13.8398 0.0993396C13.7897 0.0583312 13.7312 0.0289339 13.6684 0.0132656C13.6057 -0.00240264 13.5402 -0.00395173 13.4768 0.00872996L9.1875 0.86623L4.89825 0.00872996C4.84164 -0.00258444 4.78336 -0.00258444 4.72675 0.00872996L0.35175 0.88373C0.252608 0.903546 0.163389 0.957088 0.099263 1.03525C0.0351366 1.11342 6.10593e-05 1.21138 0 1.31248L0 13.5625C3.90711e-05 13.6272 0.0144289 13.6911 0.0421328 13.7495C0.0698367 13.808 0.110165 13.8596 0.160212 13.9006C0.210259 13.9416 0.268779 13.971 0.331556 13.9867C0.394332 14.0024 0.459803 14.0039 0.52325 13.9912L4.8125 13.1337L9.10175 13.9912C9.15836 14.0025 9.21664 14.0025 9.27325 13.9912L13.6482 13.1162C13.7474 13.0964 13.8366 13.0429 13.9007 12.9647C13.9649 12.8865 13.9999 12.7886 14 12.6875V0.43748ZM4.375 12.3287V0.97123L4.8125 0.88373L5.25 0.97123V12.3287L4.89825 12.2587C4.84165 12.2474 4.78335 12.2474 4.72675 12.2587L4.375 12.3287ZM8.75 13.0287V1.67123L9.10175 1.74123C9.15836 1.75254 9.21664 1.75254 9.27325 1.74123L9.625 1.67123V13.0287L9.1875 13.1162L8.75 13.0287Z">
                                </path>
                            </svg>
                            <%= tour.destination %>
                        </li>
                    </ul>

                    <p><%- tour.description.replace(/\n/g, '<br>' ) %></p>
                </div>
                <div class="col-xl-4">
                    <div class="booking-form-wrap mb-40">
                        <h4>Book Your Tour</h4>
                        <p>Reserve your ideal trip early for a hassle-free trip; secure comfort and convenience!</p>
                        <div class="nav nav-pills mb-40" role="tablist">
                            <button class="nav-link active" id="v-pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-contact" type="button" role="tab"
                                aria-controls="v-pills-contact" aria-selected="true">Inquiry Form</button>
                            <button class="nav-link" id="v-pills-booking-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-booking" type="button" role="tab"
                                aria-controls="v-pills-booking" aria-selected="false">Online Booking</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent2">
                            <div class="tab-pane fade show active" id="v-pills-contact" role="tabpanel"
                                aria-labelledby="v-pills-contact-tab">
                                <div class="sidebar-booking-form">

                                    <form id="inquiryForm" action="/tour-contact" method="post">
                                        
                                        <input type="hidden" id="name" name="name" value="<%= user.username %>">
                                        <input type="hidden" id="contact-number" name="contactNumber" value="<%= user.mobile %>">

                                        <div class="form-inner mb-20">
                                            <label for="whatsapp-number">Whatsapp Number:</label>
                                            <input type="number" id="whatsapp-number" name="whatsappNumber"
                                                placeholder="Enter your WhatsApp number" required>
                                        </div>

                                        <div class="form-inner mb-20">
                                            <label for="travelling-date">Travelling Date:</label>
                                            <input type="date" id="travelling-date" name="travellingDate" required>
                                        </div>

                                        <div class="form-inner mb-20">
                                            <label for="adult">Adult:</label>
                                            <input type="number" id="adult" name="adult" min="0"
                                                placeholder="Number of adults" required>
                                        </div>

                                        <div class="form-inner mb-20">
                                            <label for="child">Child:</label>
                                            <input type="number" id="child" name="child" min="0"
                                                placeholder="Number of children" required>
                                        </div>

                                        <input type="hidden" id="tourName" name="tourName" value="<%= tour.title %>">

                                        <input type="hidden" id="tourMobile" name="userEmail" value="<%= user.email %>">
                                        
                                        <div id="thankYouMessage" style="display: none;">
                                            <p class="text-success">Thank you for your inquiry! We will get back to you
                                                shortly.</p>
                                        </div>
                                        <div class="form-inner">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </form>



                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-booking" role="tabpanel"
                                aria-labelledby="v-pills-booking-tab">
                                <!-- <div class="sidebar-booking-form">
                                    <form>
                                        <div class="tour-date-wrap mb-50">
                                            <h6>Select Your Booking Start Date:</h6>
                                            <div class="form-check customdate">
                                                <input class="form-check-input" type="radio" name="tourDate"
                                                    id="Coustom" value="option1" checked>
                                                <label class="form-check-label" for="Coustom"></label>
                                                <span class="form-group">
                                                    <input type="text" readonly name="startDate" id="startDate"
                                                        placeholder="Select Start Date" required>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                        viewBox="0 0 15 15"></svg>
                                                </span>
                                            </div>
                                            <h6>Your Tour End Date:</h6>
                                            <input type="text" readonly name="endDate" id="endDate"
                                                placeholder="End Date" required>
                                        </div>

                                        
                                        <div class="booking-form-item-type mb-45">
                                            <div class="number-input-item adults">
                                                <label class="number-input-lable">No. of People:<span></span></label>
                                                <div class="quantity-counter">
                                                    <a href="#" class="quantity__minus"
                                                        onclick="changeQuantity(-1); return false;"><i
                                                            class="bi bi-dash"></i></a>
                                                    <input name="quantity" type="text" readonly id="quantity" value="1"
                                                        min="1" max="<%= tour.maxPeople %>">
                                                    <a href="#" class="quantity__plus"
                                                        onclick="changeQuantity(1); return false;"><i
                                                            class="bi bi-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="booking-form-item-type">
                                            <div class="single-total mb-30">
                                                <span>No. of People</span>
                                                <ul>
                                                    <li><strong>$<%= tour.discountPrice %></strong> PRICE</li>
                                                    <li><i class="bi bi-x-lg"></i></li>
                                                    <li><strong id="quantityDisplay">1</strong> QTY</li>
                                                    <li><i class="bi bi-x-lg"></i></li>
                                                    <li><strong><%= tour.duration %></strong> DAYS</li>
                                                </ul>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="15" viewBox="0 0 27 15">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.999 5.44668L25.6991 7.4978L23.9991 9.54878H0V10.5743H23.1491L20.0135 14.3575L20.7834 14.9956L26.7334 7.81687L26.9979 7.4978L26.7334 7.17873L20.7834 0L20.0135 0.638141L23.149 4.42114H0V5.44668H23.999Z" />
                                                </svg>
                                                <div class="total">$<em id="finalTotal"><%= tour.discountPrice %></em></div>
                                            </div>
                                        </div>
                                        
                                        <div class="total-price"><span>Total Price:</span> $<strong id="totalPriceDisplay"><%= tour.discountPrice %></strong></div>
                                        <button type="submit" class="primary-btn1 two" id="payBtn">Book Now</button>
                                    </form>
                                </div> -->
                                <p>Online Booking available soon...</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Room Details section -->
    <!-- Include Flatpickr CSS and JS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tourDuration = "<%= tour.duration %>"; // Get the duration from the EJS variable
            const durationParts = tourDuration.split(' '); // Split the duration string
            const days = parseInt(durationParts[0]); // Get the number of days

            flatpickr("#startDate", {
                minDate: "today",
                dateFormat: "Y-m-d", // Format the date as needed
                onChange: function (selectedDates) {
                    const startDate = selectedDates[0];
                    const endDate = new Date(startDate);
                    endDate.setDate(startDate.getDate() + days); // Calculate end date based on duration
                    document.getElementById("endDate").value = endDate.toISOString().split('T')[0]; // Set end date in YYYY-MM-DD format
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Get today's date
            const today = new Date();
            const dd = String(today.getDate()).padStart(2, '0');
            const mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            const yyyy = today.getFullYear();

            // Format the date as YYYY-MM-DD
            const formattedDate = yyyy + '-' + mm + '-' + dd;

            // Set the value of the startDate input field
            document.getElementById('startDate').value = formattedDate;
        });

        function changeQuantity(amount) {
            const quantityInput = document.getElementById('quantity');
            let currentValue = parseInt(quantityInput.value);
            const maxPeople = parseInt(quantityInput.max);

            // Calculate new value
            const newValue = currentValue + amount;

            // Ensure new value is within the limits
            if (newValue >= 1 && newValue <= maxPeople) {
                quantityInput.value = newValue;
            }
        }
        

        var discountPrice = parseInt('<%= tour.discountPrice %>'); // Set the discount price from EJS
        var maxPeople = parseInt('<%= tour.maxPeople %>'); // Set the max people from EJS
        var duration = parseInt('<%= tour.duration %>'); // Set the duration from EJS

        function changeQuantity(amount) {
            const quantityInput = document.getElementById('quantity');
            const quantityDisplay = document.getElementById('quantityDisplay');
            const finalTotal = document.getElementById('finalTotal');

            let currentValue = parseInt(quantityInput.value);
            const newValue = currentValue + amount;

            // Ensure new value is within the limits
            if (newValue >= 1 && newValue <= maxPeople) {
                quantityInput.value = newValue; // Update the input value
                quantityDisplay.innerHTML = newValue; // Update the displayed quantity

                // Update the total price
                const totalPrice = newValue * discountPrice;
                finalTotal.innerHTML = totalPrice; // Update the total price
                totalPriceDisplay.innerHTML = totalPrice;
            }
        }
    </script>


    <script>
        document.getElementById('payBtn').onclick = function (e) {
            e.preventDefault(); // Prevent default form submission
            // Get the quantity and total price
            const quantity = parseInt(document.getElementById('quantity').value);
            const discountPrice = parseFloat(document.getElementById('totalPriceDisplay').innerText);
            const totalAmount = (quantity * discountPrice).toFixed(2) * 100; // Convert to paise

            var options = {
                key: 'rzp_test_lNleE8uTGkM8LM', // Enter the Key ID generated from the Razorpay Dashboard
                amount: totalAmount, // Amount is in currency subunits. Default currency is INR.
                currency: 'INR', // Currency code
                name: 'Yallago',
                description: 'Tour Booking Payment',
                image: '/assets/img/logo.jpg', // Your company logo
                order_id: '', // This will be generated from your server
                handler: function (response) {
                    // Handle successful payment here
                    alert('Payment ID: ' + response.razorpay_payment_id);
                    alert('Order ID: ' + response.razorpay_order_id);
                    alert('Signature: ' + response.razorpay_signature);
                    // You can send these details to your server to verify the payment

                    // Make an API call to your server to create an order and get the order_id
                    fetch('/create_order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            paymentId: response.razorpay_payment_id,
                            quantity: quantity,
                            startDate: document.getElementById('startDate').value,
                            endDate: document.getElementById('endDate').value,
                            totalAmount: totalAmount
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            options.order_id = data.id; // Set the order_id in the options
                            var rzp1 = new Razorpay(options);
                            rzp1.open(); // Open the Razorpay payment modal
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                },
                prefill: {
                    name: 'Customer Name',
                    email: 'customer@example.com',
                    contact: '9999999999'
                },
                notes: {
                    address: 'Customer Address'
                },
                theme: {
                    color: '#F37254'
                }
            };


            var rzp1 = new Razorpay(options);
            rzp1.open();
        };
    </script> -->

    <script>
        document.getElementById('inquiryForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission


            // Show thank you message
            document.getElementById('thankYouMessage').style.display = 'block';

            setTimeout(() => {
                this.submit(); // Use `this.submit()` to submit the form programmatically
            }, 4000);


        });
    </script>

    <%-include('../partials/userFooter')%>