<%-include('../partials/userHeader')%>

    <div class="breadcrumb-section"
        style="background-image: linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) 101.02%), url(assets/img/innerpage/inner-banner-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="banner-content">
                        <h1>Transport</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="">Home</a></li>
                            <li>Transport</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Room Details section -->
    <div class="transport-page pt-120 mb-120">
        <div class="container">
            <div class="row g-lg-4 gy-5">
                <div class="col-xl-4 order-lg-1 order-2">
                    <div class="sidebar-area">
                        <div class="single-widget mb-30">
                            <h5 class="widget-title">Search Here</h5>
                            <form>
                                <div class="search-box">
                                    <input type="text" placeholder="Search Here">
                                    <button type="submit"><i class="bx bx-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 order-lg-2 order-1">
                    <div class="row g-4 mb-70">
                        <!-- Loop through each transport -->
                        <% transports.forEach(function(transport) { %>
                            <div class="col-md-6">
                                <div class="transport-card">
                                    <a href="/transport-details/<%= transport._id %>" class="transport-img">
                                        <!-- Display transport image -->
                                        <img src="<%= transport.images[0] %>" alt="<%= transport.transportName %>">
                                        <!-- Display transport distance or any relevant detail -->
                                        
                                    </a>
                                    <div class="transport-content">
                                        <!-- Display transport name -->
                                        <h4><a href="/transport-details/<%= transport._id %>"><%= transport.transportName %></a></h4>
                                        <!-- Display transport type -->
                                        <p>Type: <%= transport.type %></p>
                                        <span>Duration: <%= transport.duration %></span>
                                        <div class="card-bottom">
                                            <div class="details-btn">
                                                <a href="/transport-details/<%= transport._id %>" class="primary-btn1">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Room Details section -->

  <%-include('../partials/userFooter')%>

   