<%-include('../partials/userHeader')%>

    <div class="breadcrumb-section" style="background-image: linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) 101.02%), url(assets/img/innerpage/inner-banner-bg.png);">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="banner-content">
                        <h1>Visa</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="">Home</a></li>
                            <li>Visa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Start Package Grid With Sidebar section -->
   <div class="visa-with-sidebar-section pt-120 mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-5">
            <div class="col-lg-12">
                
                <div class="list-grid-product-wrap mb-70">
                    <div class="row gy-4">
                        <% if (visas.length === 0) { %>
                            <p>No Visa available at the moment.</p>
                        <% }else { %>
                        <% visas.forEach(visa => { %>
                            <div class="col-md-12 item">
                                <div class="package-card4 four">
                                    <a href="/visa-details/<%= visa._id %>" class="package-card-img">
                                        <img src="<%= visa.images[0] %>" alt="<%= visa.title %>">
                                    </a>
                                    <div class="package-card-content">
                                        <div class="card-content-top">
                                            <h5><%= visa.title %></h5>
                                            <ul>
                                                <li><span>Country :</span> <%= visa.location %></li>
                                                <li><span>Visa Type :</span> <%= visa.visaType %></li>
                                                <li><span>Visa Mode :</span> <%= visa.visaMode %></li>
                                                <li><span>Validity :</span> <%= visa.validity %></li>
                                                <li><span>Processing Time :</span> <%= visa.processingTime %></li>
                                            </ul>
                                        </div>
                                        <div class="card-content-bottom">
                                            <div class="price-area">
                                                <span>Starting From:</span>
                                                <h6><strong>$</strong><%= visa.price %> <span>Per Person</span></h6>
                                            </div>
                                            <a href="/visa-details/<%= visa._id %>" class="apply-btn">
                                                Apply Now
                                                <div class="arrow">
                                                    <i class="bi bi-arrow-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        <% } %>
                    </div>
                </div>
                
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <nav class="inner-pagination-area">
                            <ul class="pagination-list">
                                <li>
                                    <a href="#" class="shop-pagi-btn"><i class="bi bi-chevron-left"></i></a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#" class="active">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#"><i class="bi bi-three-dots"></i></a>
                                </li>
                                <li>
                                    <a href="#">6</a>
                                </li>
                                <li>
                                    <a href="#" class="shop-pagi-btn"><i class="bi bi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div> -->
            </div>
            
        </div>
    </div>
   </div>
    <!-- End Package Grid With Sidebar section -->
    
   <%-include('../partials/userFooter')%>